@if (Model != null && Model.TotalPages > 1)
{
    <nav>
        <ul class="pagination justify-content-center">
            @if (Model.HasPrevious)
            {
                <li class="page-item">
                    <a asp-page="./Index" asp-route-pageNumber="@(Model.CurrentPage - 1)" class="page-link">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            @foreach (var n in Model.NavPaginationNumbers)
            {
                <li class="page-item @(n == Model.CurrentPage ? "active" : "")">
                    <a asp-page="./Index" asp-route-pageNumber="@n" class="page-link">@n</a>
                </li>
            }

            @if (Model.HasNext)
            {
                <li class="page-item">
                    <a asp-page="./Index" asp-route-pageNumber="@(Model.CurrentPage + 1)" class="page-link">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>

}