@page
@model             IndexModel

@{
    ViewData["Title"] = "Branch Offices";
}

<div class="card p-3 p-xl-4">
    <h3 class="my-3">
        <img src="~/icon/police-station.svg" class="mb-2" style="width:2.3rem;" />
        @ViewData["Title"]
    </h3>
    <div class="mt-5 mb-3 ml-1">
        @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.WriteBranchOffices.ToString())).Succeeded)
        {
            <a type="button" class="btn btn-sm btn-success rounded-pill " asp-page="Create">
                <img src="~/icon/003-add.svg" class="mb-1 white-filter" style="width:1rem;" />
                &nbsp;New
            </a>
        }
    </div>
    <div class="table-responsive-xl border" style="border-radius:1rem!important;overflow-y:hidden;min-height:10rem;">
        <table class="table table-borderless ">
            <thead class="bg-warning">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BranchOffice[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BranchOffice[0].Manager)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BranchOffice)
                {
                    <tr>
                        <td onclick="window.location='BranchOffice/Details?id=@item.BranchOfficeId';" style="cursor: pointer;">
                            @Html.DisplayFor(modelItem => item.Name)
                            @if (!item.Active)
                            {
                                <img src="~/icon/close-red.svg" class="mb-1" style="width:.8rem;" />
                            }
                        </td>
                        <td onclick="window.location='BranchOffice/Details?id=@item.BranchOfficeId';" class="text-truncate " style="cursor: pointer;max-width: calc( 51 * 1vw );">
                            @if (item.Manager != null)
                            {
                                @item.Manager.Name<text>&nbsp;</text>@item.Manager.Lastname;
                            }
                            else
                            {
                                <text>N/A</text>
                            }
                        </td>
                        <td>
                            @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.WriteBranchOffices.ToString())).Succeeded)
                            {
                                <div class="dropdown ml-auto">
                                    <a role="button" id="dropdownMenuLink" data-toggle="dropdown">
                                        <img src="~/icon/004-more.svg" style="width:1.2rem;transform:rotate(90deg);" />
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                        <a class="dropdown-item" asp-page="./Details" asp-route-id="@item.BranchOfficeId">
                                            <img src="~/icon/info-1.svg" class="mb-1" style="width:1rem;" />
                                            Details
                                        </a>
                                        <a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.BranchOfficeId">
                                            <img src="~/icon/edit-1.svg" class="mb-1" style="width:1rem;" />
                                            Edit
                                        </a>
                                    </div>
                                </div>
                            }

                        </td>
                    </tr>

                }
            </tbody>
        </table>

    </div>
    <div>
        <partial name="_PaginationPartial" model="Model.BranchOffice" />
    </div>

</div>